.conatiner{
    margin: 82px 20px 20px 20px;
}
.search-card{
    margin-bottom: 10px;
    width: 100%;
}




.dashboard-card{
    width: 100%;
    display: flex;
    align-items: center;
}

.display-center{
    display: flex;
    justify-content: center;
}